<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alizare.server">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_shirazservice"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_shirazservice"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activities.Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyServices"
            android:label="@string/title_activity_my_services"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.Ghavanin"
            android:label="@string/title_activity_ghavanin"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alizare.server.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AfzayeshEtebar"
            android:label="@string/title_activity_afzayesh_etebar"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alizare.server.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.InsertPayInfo"
            android:label="@string/title_activity_insert_pay_info"
            android:parentActivityName=".activities.AfzayeshEtebar"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alizare.server.activities.AfzayeshEtebar" />
        </activity>
        <activity
            android:name=".activities.MyServicesDetailes"
            android:label="جزئیات سرویس"
            android:parentActivityName=".activities.MyServices"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alizare.server.activities.MyServices" />
        </activity>
        <activity
            android:name=".activities.RequestDetails"
            android:label="جزئیات درخواست"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alizare.server.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.Filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.float" />


    </application>

</manifest>